# Ember Data Snippets

'.source.js, .source.ts':
  'store.createRecord(...)':
    'prefix': 'createRecord'
    'leftLabel': 'Ember Data'
    'body': "createRecord('${1:model}');"

  'store.findAll(...)':
    'prefix': 'findAll'
    'leftLabel': 'Ember Data'
    'body': "findAll('${1:model}');"

  'store.findRecord(...)':
    'prefix': 'findRecord'
    'leftLabel': 'Ember Data'
    'body': "findRecord('${1:model}', params.${1:model}_id);"

  'store.peekAll(...)':
    'prefix': 'peekAll'
    'leftLabel': 'Ember Data'
    'body': "peekAll('${1:model}');"

  'store.peekRecord(...)':
    'prefix': 'peekRecord'
    'leftLabel': 'Ember Data'
    'body': "peekRecord('${1:model}', ${1:model}_id);"

  'store.query(...)':
    'prefix': 'query'
    'leftLabel': 'Ember Data'
    'body': "query('${1:model}', { ${2:queryKey}: ${3:queryValue}});"

  'store.queryRecord(...)':
    'prefix': 'queryRecord'
    'leftLabel': 'Ember Data'
    'body': "queryRecord('${1:model}', { ${2:queryKey}: ${3:queryValue}});"

  '@attr(...)':
    'prefix': 'attr'
    'leftLabel': 'Ember Data'
    'body': "attr('${1:string}') ${2};"

  '@belongsTo(...)':
    'prefix': 'belongsTo'
    'leftLabel': 'Ember Data'
    'body': "belongsTo('${1:model}') ${2};"

  '@hasMany(...)':
    'prefix': 'hasMany'
    'leftLabel': 'Ember Data'
    'body': "hasMany('${1:model}') ${2};"
