'.source.js, .source.ts':
  'Glimmer Component':
    'prefix': 'imcomponent'
    'leftLabelHTML': '<span style="color:#E46651">Ember module</span>'
    'body': "import Component from '@glimmer/component';"
