'.text.html.handlebars':
  'Nela Datepicker':
    'prefix': 'neladatepicker'
    'leftLabel': 'Nela Datepicker'
    'body': """
      <NelaDatepicker @selected={{${1:this.selected}}}/>
    """

  'Nela Datetimepicker':
    'prefix': 'neladatetimepicker'
    'leftLabel': 'Nela Datepicker'
    'body': """
      <NelaDatetimepicker @selected={{${1:this.selected}}}/>
    """
