'.text.html.handlebars':
  '<UiAvatar>':
    'prefix': 'UiAvatar'
    'leftLabel': 'Ui Nela'
    'body': '<UiAvatar @src={{${2:@user.avatar}}} class="avatar-${1:4}"/>'

  '<UiCard>':
    'prefix': 'UiCard'
    'leftLabel': 'Ui Nela'
    'body': """
      <UiCard as |Card|>
        <Card.Header>${1}</Card.Header>

        <Card.Body>
          ${2}
        </Card.Body>
      </UiCard>
    """

  '<UiCheckbox>':
    'prefix': 'UiCheckbox'
    'leftLabel': 'Ui Nela'
    'body': '<UiCheckbox @checked={{${2:this.required}}}>${1}</UiCheckbox>'

  '<UiModal>':
    'prefix': 'UiModal'
    'leftLabel': 'Ui Nela'
    'body': """
      <UiModal @show={{${1:this.openModal}}} @toggle={{fn (mut ${1:this.openModal})}} @onClose={{fn this.closeModal}} as |Modal|>
        <Modal.Title>${2}</Modal.Title>

        <Modal.Body>
          ${3}
        </Modal.Body>

        <Modal.Footer as |Footer|>
          <Footer.Close/>
          <Footer.Submit onclick={{perform this.save}}/>
        </Modal.Footer>
      </UiModal>
    """

  '<UiPage>':
    'prefix': 'UiPage'
    'leftLabel': 'Ui Nela'
    'body': """
      <UiPage as |Page|>
        <Page.header as |Header|>
          <Header.title>${1}</Header.title>

          <Header.breadcrumbs as |Crumb|>
            <Crumb.link @text="Início" @link="home"/>
            <Crumb.link @text="${2}"/>
          </Header.breadcrumbs>
        </Page.header>

        <Page.section>

        </Page.section>
      </UiPage>
    """

  '<UiRadio>':
    'prefix': 'UiRadio'
    'leftLabel': 'Ui Nela'
    'body': """
      <UiRadio @option="${1:option}" @selected={{${2:this.selected}}} @onChange={{fn (mut ${2:this.selected)}}}>
        ${1}
      </UiRadio>
    """

  '<UiTextarea>':
    'prefix': 'UiTextarea'
    'leftLabel': 'Ui Nela'
    'body': '<UiTextarea class="form-control" @value={{${1:this.description}}}/>'
